#table{
	border-collapse:separate;
    border:1px solid #DDDDDD;
    border-spacing:0px;
	border-radius:8px;
	overflow:hidden;
	width:500px;
}
#headtable{
	background-color:steelblue;
	color:white;
}

th,td{
	padding:10px;
}
tr:nth-child(odd){
	background-color:#f2f2f2;
}
tr:nth-child(even){
	background-color:#ffff;
}
td{
	text-align:center;
}